.dcs-16e24fb6-0 {cursor:pointer;color:blue}
.dcs-16e24fb6-1 {background-color:#edf2f7;border:2px dashed #cbd5e0;width:100%;height:100%}
.dcs-7566c05b-0 {border:0px;margin:0;padding:0;cursor:pointer}
.dcs-2fe07cda-0 {background:#333333;overflow:scroll;margin:0;padding:0}
.dcs-2fe07cda-1 {background:#333333;overflow:scroll;margin:0;padding:0;transform-origin:top left;transform:translate(100vw, 30vh) rotate(90deg);}
.dcs-2fe07cda-2 {display:flex;flex-direction:row;justify-content:center}
.dcs-2fe07cda-3 {background:#0000CC22}
.dcs-2fe07cda-4 {}
.dcs-2fe07cda-5 {color:blue;cursor:pointer}